<nav class="container-fluid">
  <a href="#" class="btn btn-link">Github</a>
  <a href="#" class="btn btn-link">Github</a>
  <a href="#" class="btn btn-link">Github</a>
  <p>Developed by <a href="https://valerievozza.dev" class="btn btn-link">Valerie Vozza</a></p>
</nav>