<h3><i class="fas fa-book-reader fa-fw"></i> Untitled Online Journal Project</h3>
<p>Like Open Diary but better!</p>
<a href="/auth/google" class="btn btn-primary btn-lg">
  <i class="fab fa-google fa-fw"></i> Login with Google
</a>