.login-container {
  max-width: 50%;
  margin-top: 50px !important;
  text-align: center;
}

.body-style {
  margin-top: 30px;
}

.entry-list {
  float: right;
  width: 33%;
}

.journal-main {
  float: left;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.chip {
  display: flex;
  flex-direction: column;
}

.entry {
  margin-right: 10px;
}

@media all and (max-width: 1111px) {
  .entry-list {
    width: 50%;
  }
}

@media all and (max-width: 777px) {
  .entry-list {
    margin-top: 10px;
    width: 100%;
  }
}

.img-small {
  width: 180px;
}